* {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  height: 50px;
}
main {
  width: 1000px;
  min-height: 1000px;
  margin: 0 auto;
}
/*  id  CSS: element de style unique */
#banner {
  background: grey;
  height: 500px;
}
#produits {
  background: rgb(250, 177, 177);
  min-height: 600px;
}
.gauche {
  background: orange;
}
.droite {
  background: blue;
}
.demi {
  /* width: calc(50% - 2px);
  height: 400px;
  display: inline-block; */
  width: 50%;
  height: 400px;
  float: left;
}
.n {
  clear: both;
}
section {
  width: 100%;
}
footer {
  width: 100%;
  height: 100px;
}
/* classe CSS  : element de style repetitif  */
.bordure {
  border: 2px solid black;
}
.o {
  box-shadow: 2px 2px 6px black;
}
